* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

body {
background: #f5f6fa;
}

/* LAYOUT */
.container {
display: flex;
min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
width: 250px;
background: #2f3542;
color: white;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 10px 20px 20px 20px;
transition: 0.3s;
}

.logo {
font-size: 18px;
margin-bottom: 30px;
}
.gauche{
    padding-top: 0;
}
.gauche p {
    margin: 0;
    padding: 0;
    margin-top:  -250px;
    margin-left:   15px;
}

.gauche ul{
    margin: 5px 0;
    padding: 0;
}
 
.gauche li{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 5px;
}
    
.gauche a{
    color: white;
    text-decoration: none;
}   
.gauche a:hover{
    color: #f7b731;
}
.sidebar ul {
list-style: none;

}

.sidebar li {

padding: 12px;
border-radius: 6px;
cursor: pointer;

}

.sidebar li.active,
.sidebar li:hover {
    background: #57606f;
    text-decoration: none;
}




.user {
display: flex;
align-items: center;
gap: 10px;
}

.user img {
width: 40px;
border-radius: 50%;
}

.sp{
    color: forestgreen;
}

.main {
flex: 1;
padding: 20px;
}


.header {
display: flex;
align-items: center;
justify-content: space-between;
gap: 10px;
}

.header h1 {
flex: 1;
}

.header input {
padding: 8px 12px;
border: 1px solid #ddd;
border-radius: 20px;
}
.notifs {
    display: flex;
    gap: 6px;
}

.cloche span{
font-size: 10px;
color: white;
background: #f7b731;
position: relative;
border-radius: 30%;
font-weight: bold;
}

.badge {
    position: absolute;
    top: -9px;
    right: 10px;
    padding: 2px ;

}
.tof{
    top: 4px;
    width: 20px;
    border-radius: 50%;
}

.sp1{
    position: relative;
    top: 6px;
    right: 8px;
    color: forestgreen;
}

.menu-toggle {
display: none;
font-size: 22px;
background: none;
border: none;
cursor: pointer;
}


.bienvenue {
margin: 20px 0;
display: flex;
justify-content: space-between;
align-items: center;
}

h2{
    font-size: 20px;
}

a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.btn{
    border: 0.5px solid black;
    border-radius: 10px;
    padding: 8px;
}
/* CARDS */
.cards {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 5px;
}

.card {
background: white;
padding: 5px;
border-radius: 10px;
box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.photos{
    width: 220px;
    height: 160px;
}

.ad{
    font-size: 10px;
    color: brown;
}

.card h3 {
margin: 10px 0;

}

.prix{
    font-size: 12px;
}

.icon {
width: 40px;
height: 40px;
border-radius: 50%;
}

.icon {
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
color: white;
}

/* ICÔNE À L’INTÉRIEUR */
.icon i {
font-size: 16px;
}




@media (max-width: 992px) {

.cards {
grid-template-columns: repeat(2, 1fr);
}

.sidebar {
width: 200px;
}

}


@media (max-width: 768px) {

.menu-toggle {
display: block;
}

h1{
    font-size: 12px;
}
.recherche{
width: 90px;

}
.sidebar {
position: fixed;
left: -100%;
top: 0;
height: 100%;
z-index: 1000;
}

p{
    font-size: 10px;
}
.sidebar.active {
left: 0;
}

.main {
padding: 15px;
}

.header {
flex-wrap: wrap;
}

.header input {
width: 100%;
}

.cards {
grid-template-columns: repeat(2, 1fr);
align-items: center;

justify-content: space-between;
gap: 5px;

}
.card{
    width: 160px; 
    height: 170px;
}
.photos{
    width: 140px;
    height: 130px;
}
}